* {
  box-sizing: border-box;
}


.active {
  background-color:#f8931f;
  color: white;
}

.topnav .icon {
  display: none;
}


/* Add a dark background on topnav links and the dropdown button on hover */
.topnav a:hover {
  background-color: #555;
  color: white;
}

/* Show the dropdown menu when the user moves the mouse over the dropdown button */
.dropdown:hover .dropdown-content {
  display: block;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 1080px) {
  .topnav a:not(:first-child),
  .dropdown .dropbtn, .dropdown2 {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 1080px) {
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    outline: none;
    background-color: transparent;
    font-size: 17px;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}

/* Dropdown container - needed to position the dropdown content */
.dropdown2 {
  float: left;
  overflow: hidden;
  color:white
}

/* Style the dropdown button to fit inside the topnav */
.dropdown2 .dropbtn2 {
  font-size: 17px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  display: block
}

/* Style the dropdown content (hidden by default) */
.dropdown-content2 {
  display: none;
  position: absolute;
  background-color: red;

  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  color:white
}

/* Style the links inside the dropdown */
.dropdown-content2 a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}


/* Add a grey background to dropdown links on hover */
.dropdown-content2 a:hover {
  background-color: #ddd;
  color: black;
}

/* Show the dropdown menu when the user moves the mouse over the dropdown button */
.dropdown2:hover .dropdown-content2 {
  display: block;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 1080px) {
  .topnav a:not(:first-child), .dropdown .dropbtn2 {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 1080px) {

  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown2 {float: none;}
    .topnav.responsive .dropdown2:hover {background-color: #555;}
  .topnav.responsive .dropdown-content2 {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
  .dropdown-content {
    width: 40%
  }
}
/* Dropdown container - needed to position the dropdown content */
.dropdown2 {
  float: left;
  overflow: hidden;
  color:white
}

/* Style the dropdown button to fit inside the topnav */
.dropdown2 .dropbtn2 {
  font-size: 17px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content2 {
  display: none;
  position: absolute;
  background-color: #555;

  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  color:white
}


/* Style the links inside the dropdown */
.dropdown-content2 a {
width:100%;

}

/* Style for links and buttons within the dropdown */
.dropdown-content2 a, .dropdown-content2 button {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
    outline:none;
    background-color: transparent;
    text-align: left;

}

@media (min-width: 1060px) {
  .dropdown-content  {width:100%;
    background-color: dodgerblue;
}
.menu-toggle {
  font-size: 15px
}

}


@media (min-width: 1060px) {
   .dropdown2 .dropbtn2  {
     display:block
}
.dropdown-content {
  font-size: 15px;
  position: fixed;
  text-align: center;
  width:168px;
    background-color: dodgerblue;

  }
}
 .dropdown-content2 {
  font-size: 15px;
  position: fixed;
  text-align: center;

}
}
/* Dark mode styles for the "active" element */
body.light-mode .topnav a.active {
  background-color: grey;;
  color: #ffffff;
}
@media (min-width: 1060px) {

.search-results2 {
      width: 18%;
    margin: 0 auto; /* Center the box */
    padding: 10px;
    border: 1px solid #ddd; /* Light grey border */

    background-color: #fff; /* White background */
    position: fixed; /* Positions relative to the nearest positioned ancestor */
    z-index: 5; /* Ensures it's above other content */

    top: 100px; /* Positions the results directly below the search bar */
    left: 50%;
    float: right;
    padding: 6px;
    border: none;
  top: 6%;
margin-left:29.4%;
    font-size: 10px;
    border-radius: 5px
}}

.search-results2 {
    display: none; /* Hide the container initially */
    /* Other styles remain unchanged */;
    text-align: left;
    z-index: 5
}


@media (max-width: 1060px) {
    .search-results2 {
  width: calc(100% - 30px);
    margin: 0 auto; /* Center the box */
    padding: 10px;
    border: 1px solid #ddd; /* Light grey border */

    background-color: #fff; /* White background */
    position: fixed; /* Positions relative to the nearest positioned ancestor */
    z-index: 3; /* Ensures it's above other content */


    float: right;
    padding: 6px;
    border: none;
  margin-top: 300px;
left:15px;
    font-size: 10px;
    border-radius: 5px;
    top: 0px;
    }
}

.search-results2 div {
  padding: 8px;
  border-bottom: 1px solid #f8931f;; /* Light line between results */
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;


}

.search-results2 div:last-child {
    border-bottom: none; /* Removes border from the last result */
}

.search-results2 a {
    text-decoration: none;
    color: #333; /* Dark grey text */
    display: block; /* Makes the whole area clickable */;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/* Default state, possibly hidden */
.search-results2 {
    display: none; /* Default to hidden */
    /* Other styles */;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

/* Visible state */
.search-results2.visible {
    display: block; /* Make visible when needed */
}
@media screen and (min-width: 1060px) {

#clearSearch {
      display: none;
      cursor: pointer;
      /* Additional styling to position the X button appropriately */
      position: absolute;
      right: 35px;
      top: 1px;
      border: none;
      background: transparent;
      font-size: 16px;
      color:black;
      z-index: 10;
  }
}
@media screen and (max-width: 1060px) {

#clearSearch {
      display: block;
      cursor: pointer;
      /* Additional styling to position the X button appropriately */
      position: absolute;
      background-color: red;
      right:90px;
      top:489px;
      border: none;
      background: transparent;
      font-size: 16px;
      color:black;
      z-index:1000;


      margin-right: -70px
  }
}
body.light-mode .topnav a {
  color: #000; /* Black font color for the links in the navbar */;

}

body.light-mode .topnav a:hover {
  color: white; /* Black font color for the links in the navbar */;

}
/* Dark Mode styles for dropdown and its content */
.dark-mode .dropdown-content,
 {
  background-color: dimgrey; /* Dark Mode background color */;
  color:white
}
.dark-mode .dropdown-content2 a:hover {
  background-color: black
}

/* Add a dark background on topnav links and the dropdown button on hover */
.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #f8931f;;
  color: white;
}

/* Add a dark background on topnav links and the dropdown button on hover */
.dropdown:hover .dropbtn {
  background-color: dodgerblue;
  color: white;
}

.dropdown a:hover{
  background-color: red;
  color: white;
}


/* Add a dark background on topnav links and the dropdown button on hover */ .dropdown2:hover .dropbtn2 {
  background-color: #f8931f;;
  color: white;
}

.light-mode /* Add a dark background on topnav links and the dropdown button on hover */ .dropdown:hover .dropbtn  {
  background-color: grey;
  color: white;
}
.light-mode .fa.fa-user:active {

}

.light-mode  .dropdown2:hover .dropbtn2 {
  background-color: grey;
  color: white;
}

.light-mode  .dropdown2 .dropdown .dropbtn2 {
  background-color: grey;
  color: black;
}

.light-mode /* Add a dark background on topnav links and the dropdown button on hover */ .dropdown-content:hover .dropbtn .i{
  background-color: darkgrey;
  color: black;
}
 .dropdown-content button:hover{
  background-color: grey;
  color: white;
}


.light-mode  .dropdown-content2 a .dropbtn2 {
  background-color: lightgrey;
  color: black;
}
.light-mode  .dropdown-content2 .dropdown-content2 a{
  background-color: grey;
  color: black;
}

.light-mode .dropdown2 .dropbtn2 .fas.fa-wheelchair {
  color:black
}

.dark-mode /* Add a dark background on topnav links and the dropdown button on hover */ .dropdown:hover .dropbtn {
  background-color: slategrey;
  color: white;
}
.light-mode .fas.fa-wheelchair {
  color:black
}
.light-mode .fas.fa-wheelchair:hover {
  color:white
}
.light-mode .fa.fa-user{
  color:black
}
.light-mode .fa.fa-user:hover{
  color:white
}
.light-mode .dropdown2:hover{
  color:white
}


/* Light mode styles */
.light-mode .dropdown-content2 {
  background-color: #555; /* Light background */
  color: white; /* Dark text */
}
.light-mode .dropdown-content {
  background-color: darkgrey; /* Light background */
  color: white; /* Dark text */
}

.light-mode .fa {
  color:black
}
.light-mode .dropdown-content2 a, .light-mode .dropdown-content button {
  color: white;
  background-color: transparent
}
.dark-mode .dropdown-content2 a, .dark-mode .dropdown-content button {
  color: white;
  background-color: transparent
}

/* Dark mode styles */
.dark-mode .dropdown-content2, .dark-mode .dropdown-content {
  background-color: #555; /* Dark background */
  color: white; /* Light text */
}
/* Hover effects for .dropbtn in light mode */
.light-mode .dropdown:hover .dropbtn {
  background-color: darkgrey; /* Dark background for contrast */
  color: white; /* White text for readability */
}

.light-mode .dropdown:hover .dropbtn i {
  color: white; /* Ensure icons also turn white on hover */
}

/* Hover effects for .dropbtn in dark mode */
.dark-mode .dropdown:hover .dropbtn {
  background-color: #555; /* Lighter dark background for contrast */
  color: white; /* Darker text for readability */
}

.dark-mode .dropdown:hover .dropbtn i {
  color: white; /* Ensure icons also change color appropriately on hover */
}
/* Hover effects for .dropbtn in light mode */
.light-mode .dropdown:hover .dropbtn,
.light-mode .dropdown2:hover .dropbtn2 {
  background-color: darkgrey; /* Dark background for contrast in light mode */
  color: white; /* White text for readability in light mode */
}

.light-mode .dropdown2:hover .dropbtn2 {
  background-color: grey; /* Dark background for contrast in light mode */
  color: white; /* White text for readability in light mode */
}


.light-mode .dropdown-content2 a:hover {
  background-color: lightgrey; /* Dark background for contrast in light mode */
  color: white; /* White text for readability in light mode */
}

.light-mode .dropdown-content button:hover {
  background-color: lightgrey; /* Dark background for contrast in light mode */
  color: white; /* White text for readability in light mode */
}

.light-mode .dropdown:hover .dropbtn i,
.light-mode .dropdown2:hover .dropbtn2 i {
  color: white; /* Ensure icons also turn white on hover in light mode */
}

/* Hover effects for .dropbtn in dark mode */
.dark-mode .dropdown:hover .dropbtn,
.dark-mode .dropdown2:hover .dropbtn2 {
  background-color: slategrey; /* Lighter dark background for contrast in dark mode */
  color: white; /* Darker text for readability in dark mode */
}
/* Hover effects for .dropbtn in dark mode */

.light-mode .dropdown2:hover .dropbtn2 {
  background-color: #555; /* Lighter dark background for contrast in dark mode */
  color: white; /* Darker text for readability in dark mode */
}

.dark-mode .dropdown:hover .dropbtn i,
.dark-mode .dropdown2:hover .dropbtn2 i {
  color: white; /* Ensure icons also change color appropriately on hover in dark mode */
}



.dark-mode .dropdown-content2 a, .dark-mode .dropdown-content button {
  color: white;
}
.fa.fa-user {
  color:white
}
.dark-mode  .dropdown2:hover .dropbtn2 {
  background-color: #555;
  color: white;
}

.dark-mode .dropdown-content {
  background-color: slategrey;
  color: white;
}
.dark-mode .dropdown-content button:hover {
  background-color: black;
  color: white;
}
body.light-mode .dropdown-content2 a {
    color: white; /* This will now take precedence over the .topnav a color */;
    background-color: transparent

}



.topnav {
  overflow: hidden;

  position: fixed; /* Make the navigation bar fixed */
  top: 0;         /* Align the navigation bar at the top of the page */
  width: 100%;    /* Make the navigation bar span the full width of the page */
  z-index: 3;     /* Ensure the navigation bar stays on top of other elements */;
  font-size: 15px
}


/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding-top: 14px;
  padding-right: 16px;
  padding: 10px;
  text-decoration: none;
  font-size: 17px;
  z-index: 3;



}



/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;


}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: white;
  color: #f8931f;


}

/* Style the "active" element to highlight the current page */
.topnav a.active {
  background-color: #f8931f;
  color: white;
}

/* Style the search box inside the navigation bar */
.topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 2%;
  border-radius: 8px;
  border:2px solid #f8931f;

}



/* Dark mode styles for the "active" element */
body.light-mode .topnav a.active {
  background-color: grey;;
  color: #ffffff;
}

/* Dark mode styles for the "active" element */
body.dark-mode .topnav a.active {
  background-color: dimgrey;
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .topnav {
    flex-wrap: wrap;
  }

  .topnav .title, .topnav .icon {
    flex-basis: 100%;
    text-align: center;
  }


  /* Additional adjustments for mobile view */
  .topnav .title {
    order: -2; /* Title comes first */
  }

  .topnav .icon {
    /* Last in order, no need to set explicitly */
  }
}



/* Style the search box inside the navigation bar */
.topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 2.6%;
  border-radius: 8px;
  border:1px solid #f8931f;

  width: 18%;
}







/* Normal mode styles */
body {
  background-color: gray; /* Red background for normal mode */
  color: #000;
}






/* Dark mode styles */
body.dark-mode {
  background-color: #333;
  color: #fff;
}

body.dark-mode .topnav {
  background-color: #222; /* Dark background for the navbar in dark mode */
  color: #fff; /* White font color for the navbar in dark mode */
}

body.dark-mode .topnav a {
  color: #fff; /* White font color for the links in the navbar in dark mode */
}






body .topnav {
  background-color: white; /* white background for the navbar in normal mode */
  color: #29abe2; /* White font color for the navbar in normal mode */;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);


}

body .topnav a {
  color: #29abe2; /* White font color for the links in the navbar in normal mode */
}


/* Normal mode styles */
body {
  background-color: #ff0000;
  color: #000;
}







  /* Normal mode styles */
  body {
    background-color: white;
    color: #000;
    font-family: helvetica;
  }



/* Refined Sidebar Styles */
.sidebar {
    width: 200px; /* Sidebar width */
    position: fixed; /* Sidebar position fixed to the viewport */
    top: 50px; /* Distance from the top of the viewport */
    left: -250px; /* Initially positioned off-screen to the left */
    height: 100%; /* Full viewport height */
    padding-top: 20px; /* Padding at the top inside the sidebar */
    background-color: dodgerblue; /* Sidebar background color */
    color: white; /* Text color */
    overflow-x: hidden; /* Hide horizontal overflow */
    overflow-y: auto; /* Enable vertical scrolling if content overflows */
    transition: left 0.5s; /* Smooth transition for toggling visibility */
    z-index: 1; /* Ensure sidebar is above other content but below modals/popups */
}

.sidebar::-webkit-scrollbar {
    width: 15px;
    background: #e0e0e0;
}

.sidebar::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

.sidebar::-webkit-scrollbar-thumb:hover {
    background: #555;
}
/* Light Mode Styles */
.light-mode .sidebar {
    background-color: #f0f0f0; /* Light background for light mode */
}

.light-mode .sidebar::-webkit-scrollbar {
    width: 15px;
    background: #e0e0e0;
}

.light-mode .sidebar::-webkit-scrollbar-thumb {
    background: #a0a0a0;
    border-radius: 5px;
}

.light-mode .sidebar::-webkit-scrollbar-thumb:hover {
    background: #808080;
}

.light-mode .sidebar {
    scrollbar-width: auto;
    scrollbar-color: #a0a0a0 #e0e0e0;
}

/* Dark Mode Styles */
.dark-mode .sidebar {
    background-color: #1a1a1a; /* Dark background for dark mode */
}

.dark-mode .sidebar::-webkit-scrollbar {
    width: 15px;
    background: #2c2c2c;
}

.dark-mode .sidebar::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 5px;
}

.dark-mode .sidebar::-webkit-scrollbar-thumb:hover {
    background: #888;
}

.dark-mode .sidebar {
    scrollbar-width: auto;
    scrollbar-color: #555 #2c2c2c;
}


   .sidebar a {
       padding: 8px 8px 8px 16px;
       text-decoration: none;
       font-size: 14px;
       color: white;
       display: block;
       font-size: 15px

   }
   .sidebar a:focus {
    outline: 2px solid dimgrey; /* Customize as needed */
}

   /* Light mode styles */
   body.light-mode .sidebar,
   body.light-mode .sidebar * {
       color: black; /* Text color in light mode */;
       background-color: whitesmoke; /* Background color in light mode */;

   }

   /* Search Input Styles */
.sidebar input[type="text"] {
    width: 80%;
    padding: 2px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;

}

.sidebar input[type="text"]:focus {
    border-color: dodgerblue;
}




   .sidebar a:hover {
       color: grey;
   }





   .sidebar h3 {
       color: #f1f1f1;

   }

 .menu-toggle {
    cursor: pointer; /* Changes the cursor to a pointer to indicate it's clickable */
    position: fixed; /* Keeps the element in the same place even when scrolling */
    left: 14px; /* Distance from the left edge of the viewport */

    z-index: 1; /* Ensures the element stays on top of other content */
    font-size: 20px; /* Size of the text or icon inside */
    color: grey; /* Color of the text or icon */;
    background-color: dodgerblue;
    color:white;
    padding-right:5px;
        padding-left:5px;
          top: 70px;
    transition: color 0.3s ease; box-shadow 0.3s ease;
    box-shadow: 0px 2px 2px rgba(19, 145, 237, 1);
}}

   /* Style for .menu-toggle when active */
   .menu-toggle.active {
       color: blue; /* Change color when active */;
       background-color: transparent

   }




   /* Main Content Section */
   main {
       margin-left: 0;

       padding: 16px; /* Adjust padding to your needs */
   }









   @media screen and (min-width: min-width: 768px) {
       .sidebar {

       }

       main {
           padding-top: 60px;
       }

           .menu-toggle {
             top: 10px;
           }
   }

      @media screen and (max-width: 1060px) {
          .sidebar {

          }

          main {
              padding-top: 60px;
          }

          .fa.fa-gamepad {
            font-size: 20px;
          }


      }

/* ... other styles remain the same ... */


* {
  box-sizing: border-box;
}


  .footer {
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    padding: 20px;
    position: relative;
    background-color: #29abe2;
    margin-top:190px;
      color:white;
  }

      body.dark-mode #sort-section, body.sort-section * {

    background-color: #f1f1f1; /* Light grey background for the footer */

    color: black; /* Dark text color for readability */

  }
  body.dark-mode h2, body.sort-section h2 * {



color: black; /* Dark text color for readability */

}


body.dark-mode #about h2 {
  color: black; /* Slightly darker color for headings for emphasis */
}

body.dark-mode #about p {
color: white;
}
body.light-mode #about p {
  color: black; /* Slightly darker color for headings for emphasis */
}
.what {
  color:white;
  font-size:30px;
  font-weight: 500; /* Bold font weight for emphasis */
}
body.light-mode .what {
  color:black;
  background-color: white
}
body.light-mode #about h2 {
  color: black; /* Slightly darker color for headings for emphasis */
}
body.light-mode #about {
  background-color: white; /* Slightly darker color for headings for emphasis */
}

body.dark-mode #about {
background-color: black;
}
body.dark-mode .featured-games-title {
background-color: black;
color:white
}
body.light-mode .featured-games-title {
background-color: grey;
color:white
}


body.dark-mode h2, body.sort-section h2 * {



color: white; /* Dark text color for readability */

}


.dark-mode .sort {

  color:white


}

.light-mode .sort {

  color:black


}



body.light-mode .prev {
  background-color: grey;
  color:white

}
body.light-mode .next {
  background-color: grey;
  color:white;


}
body.light-mode .welcome {
  background-color: white;
  color:black;
    border:5px solid black


}

body.light-mode .underwelcome {

  color:black;

}
body.light-mode .opening-screen {

}

body.light-mode #enter-site-button {
    background-color: grey;
    color:white
}
body.light-mode #enter-site-button:hover {
    background-color: #222;
    color:white
}
body.dark-mode #enter-site-button {
    background-color: dimgrey;
    color:white
}
body.dark-mode #enter-site-button:hover {
    background-color: black;
    color:white
}


body.light-mode .caption-container {

  background-color: grey
}

body.dark-mode .prev {
  background-color: black;
  color:white

}
body.dark-mode .next {
  background-color: black;
  color:white;


}

    /* Ensure the slideshow container is relative */
    .slideshow-container {
      position: relative;
      max-width: 1000px; /* Adjust based on your preference */
      margin: auto;
      overflow: hidden; /* Prevents overflow from arrows */
    }

    /* Adjusting arrows to be aligned with the image */
    .prev, .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      transform: translateY(-50%); /* Centers vertically */
      width: auto;
      padding: 16px;
      color: white;
      font-weight: bold;
      font-size: 18px;
      transition: 0.6s ease;
      user-select: none;
      z-index: 1; /* Ensures arrows are above the image */
    }

    .next {
      right: 6%; /* Adjust based on image width to align with the edges */
    }

    .prev {
      left: 6%; /* Adjust based on image width to align with the edges */
    }

    /* Caption text positioning */
    .text {
      color: #f2f2f2;
      font-size: 15px;
      position: absolute;
      bottom: 0;
      width: 80%; /* Match image width */
      text-align: center;
      padding: 8px 0;
      background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
      margin: auto;
      left: 0;
      right: 0; /* Centers the caption */
    }

    @media screen and (max-width: 600px) {
  .prev, .next {
    font-size: 18px; /* Keeps the arrow size the same */
    padding: 12px; /* Slightly reduce padding for smaller screens if needed */
  }

  .next {
    right: 3.4%; /* Adjust if needed for very small screens */
  }

  .prev {
    left: 3.4%; /* Adjust if needed for very small screens */
  }
}

#featured-games {
  text-align: center;
  margin: 20px 0;
}

.games-carousel {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.game-card {
  width: 300px;

  overflow: hidden;
  max-width: 800px;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);

}

.game-card img {
  width: 100%;
  height: auto;
}

.game-info {
  padding: 15px;
}

.game-title {
  margin: 10px 0 5px;
}

.game-info {
    font-size: 16px;
    line-height: 1.6;
    color: #666;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    font-style: normal;
}

p {
  font-style: normal;
}

.game-info {
    line-height: 1.5; /* Adjust line height for better readability */
    font-size: 15px; /* Adjust font size as needed */;
    padding: 20px

}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}











  @media screen and (max-width: 585px) {#zoomIn {
  font-size: 10px;
  top:37px;
  padding: 5px
}

#zoomOut {
  font-size: 10px;
  top:37px;
  padding: 5px

}
}


.dark-mode .game-card {
  background-color: black;

}

.light-mode .game-card {
  background-color: grey;
}


.dark-mode .game-info p {

  color: white;

}

.dark-mode  .game-info {


  background-color: dimgrey
}

.dark-mode .game-info h3 {

  color: white; /* Example color */
}

.light-mode .game-info p {

  color: black;

}

.light-mode  .game-info {


  background-color: white
}

.light-mode .game-info h3 {

  color: black; /* Example color */
}






/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;

}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;


  }
}


@media screen and (max-width: 1060px) {
  .topnav a:not(:first-child), .topnav input[type="text"] {
    display: none; /* Hide all a elements that are not the first child and the search input by default */
  }
  .topnav a.icon {
    float: right;
    display: block;
  }

  .topnav.responsive a,
  .topnav.responsive input[type="text"] { /* Display the links and search input when responsive */
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive input[type="text"] {
    margin: 10px 15px; /* Add some margin for visual separation */;
      z-index: 5;
    width: calc(100% - 30px); /* Adjust width to fit inside the topnav container */;

  }
}


.cog-icon {
    cursor: pointer;
    /* Additional styling */
}

.dropup-content {
    display: none;
    position: absolute;
    right: 0; /* Adjust based on layout */
    background-color: #f9f9f9;

    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

}

.dropup-content button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.accessibility-button {
  cursor: pointer;
  font-size: 17px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: arial;
  margin: 0;
  position: sticky;
  top:0px;

}


/* Styles for hover state */
.accessibility-button:hover {
  background-color: dodgerblue; /* Darken button slightly on hover */
}

/* Styles for active/clicked state */
.accessibility-button.active {
  background-color: dodgerblue; /* Darken button further when clicked */
}

/* Styles for hover state */
.dark-mode .accessibility-button:hover {
  background-color: dimgrey; /* Darken button slightly on hover */
}

/* Styles for active/clicked state */
.dark-mode .accessibility-button.active {
  background-color: dimgrey; /* Darken button further when clicked */
}

/* Styles for hover state */
.light-mode .accessibility-button:hover {
  background-color: grey; /* Darken button slightly on hover */;
  color:white
}

/* Styles for active/clicked state */
.light-mode .accessibility-button.active {
  background-color: grey; /* Darken button further when clicked */;
  color:white
}







.show {
  display: block;
}
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: ;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;

}



/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;

}
















.light-mode .accessibility-button {

color: black;




}

/* Basic style for the caret-down icon */
.light-mode .fa.fa-caret-down {
  color: #333; /* Change the color of the icon */

}

/* Basic style for the caret-down icon */
.light-mode .fa.fa-caret-down:hover {
  color: white; /* Change the color of the icon */

}

.light-mode .accessibility-button:hover {

color: white;



}
.light-mode .accessibility-button.active {


background-color: grey;
color:white


}

}
.light-mode .accessibility-button:hover {


background-color: grey;
color:white


}


/* Custom style for the gamepad icon */
.fa.fa-gamepad {
  color: white; /* Change the color of the icon */
  font-size: 24px; /* Adjust the size of the icon */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add a shadow for depth */
}


/* Additional style for when the icon is active in light mode */
.light-mode .fa.fa-gamepad.active {
  color: black; /* Change the icon color to black when active */
  background-color: transparent; /* Ensure the background remains transparent */
  box-shadow: none; /* Explicitly remove any box shadow */
}


/* Additional style for focus, if the icon is used within a focusable element */
.light-mode .fa.fa-gamepad {
color:black;

}

.light-mode .menu-toggle {
  background-color: whitesmoke;
    box-shadow: 0px 2px 2px grey(19, 145, 237, 1);
  color:black;
}

.dark-mode .menu-toggle {
  background-color: black;
  color:white;
  box-shadow: 0px 2px 2px grey(19, 145, 237, 1);
}

.light-mode .menu-toggle.active {
  background-color: white;
  color:black;

}

.light-mode .menu-toggle:hover {
  background-color: white;
  color:black;

}
@media screen and (max-width: 600px) {
  .accessibility-text {
    display: none; /* Hides the "Accessibility" text */;
  position: fixed
  }
  .accessibility-button i {
    /* If you decide to switch icons via CSS, ensure you have the correct classes added/removed in your JavaScript as well */
    display: none; /* Hide the caret-down icon */;
      position: sticky

  }
  .accessibility-button .fa-cog {
    display: inline-block; /* Make sure the gear icon is visible */;
    position: sticky;

  }
}

.title-text {
  font-size: 16px; /* Default font size */
}

.sort {
  margin: 1%;
  font-size: 15px
}

@media screen and (max-width: 300px) {
  .title-text {
    font-size: 11px; /* Smaller font size on screens less than or equal to 600px wide */;
    margin: 0;
  }
}

.topnav .search-input {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;


}

/* Responsive adjustments */
@media screen and (max-width: 1060px) {
    .topnav .search-input {
        float: none;
        width: 100%; /* Full width */
        margin: 10px 0; /* Adjust as needed */
    }
}



.content {
    margin-left: 0; /* Content starts with no left margin */
    transition: margin-left 0.5s; /* Smooth transition for content margin */
}

.featured-games-title {
  font-size:20px
}

/* When the sidebar is visible */
.sidebar-visible .sidebar {
    left: 0; /* Bring sidebar into view */
}



.sidebar-visible .content {
    margin-left: 200px; /* Push content to the right to make space for the sidebar */
}

.custom-checkbox {
  display: inline-block;
  cursor: pointer;
  top:10px;
  position: relative;
  padding-left: 25px; /* Space for the custom checkbox */
  user-select: none; /* Prevent text selection */
}





body, h1, h2, p {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background: silver;
    color: white;
    padding: 50px 20px;
    text-align: center;
}

section {
    padding: 20px;
    text-align: center;
}

#about {
    background: #f4f4f4;
}

.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.project {
    margin: 10px;
}

.project img {
    max-width: 100%;
    height: auto;
}

footer {
    background: #29abe2;
    color: white;
    padding: 20px;
    text-align: center;
}

button {
    cursor: pointer;
    padding: 10px 20px;
    margin-top: 20px;
}

#viewWork, #contactMe {
    background: black;
    color: white;
    border: none;
    margin-top: 20px
}

.footer p {
  color:white
}

.footer a {
  color:white;
  text-decoration: underline;
}

#main-content > header {

  height: 400px;
}

#main-content > header > h1 {
  margin-top: 100px
}

#about {
  background-color: purple;
  padding: 60px
}


.light-mode #main-content > div {
    background-color: white;
    color:black
}

.dark-mode #main-content > div {
    background-color: black;
      color:white
}
.dark-mode #main-content > div > p {
  color:white
}

.light-mode #main-content > div > p {
  color:black
}




@media (min-width: 1060px) {

.search-results2 {
      width: 18%;
    margin: 0 auto; /* Center the box */
    padding: 10px;
    border: 1px solid #ddd; /* Light grey border */

    background-color: #fff; /* White background */
    position: fixed; /* Positions relative to the nearest positioned ancestor */
    z-index: 5; /* Ensures it's above other content */

    top: 100px; /* Positions the results directly below the search bar */
    left: 50%;
    float: right;
    padding: 6px;
    border: none;
  top: 5%;
margin-left:29.4%;
    font-size: 10px;
    border-radius: 5px
}}

.search-results2 {
    display: none; /* Hide the container initially */
    /* Other styles remain unchanged */;
    text-align: left;
    z-index: 5
}


@media (max-width: 1060px) {
    .search-results2 {
  width: calc(100% - 30px);
    margin: 0 auto; /* Center the box */
    padding: 10px;
    border: 1px solid #ddd; /* Light grey border */

    background-color: #fff; /* White background */
    position: fixed; /* Positions relative to the nearest positioned ancestor */
    z-index: 3; /* Ensures it's above other content */


    float: right;
    padding: 6px;
    border: none;
  margin-top: 518px;
left:15px;
    font-size: 10px;
    border-radius: 5px;
    top: 0px;
    }
}


/* Footer Styles */
footer {
    background-color: ##29abe2; /* Dark background for the footer */
    color: white; /* White text color for visibility */
    padding: 20px 0; /* Padding around the footer content */
    font-size: 16px; /* Appropriate text size for footer */
    text-align: center; /* Centers text */
}

.footer-content {
    display: flex;
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Centers content vertically */
    height: 100%; /* Full height */
    width: 100%; /* Full width */
}

.footer-section {
    margin: auto; /* Auto margins for automatic centering in all directions */
}

.footer-section h4, .footer-section p {
    margin: 5px 0; /* Small vertical margin for spacing */
}
